In [1]:
import nltk
import re
import pandas as pd

In [2]:
def clean_data(text):
    # remove html tags
    html_tag = re.compile(r'<.*?>')
    # remove URL
    http_link = re.compile(r'https://\S+')
    www_link = re.compile(r'www\.\S+')
    # remove punctuation
    punct = re.compile(r"[^\w\s]")
    # remove numbers
    number = re.compile(r"\d")
    # remove multiple space
    space = re.compile(r"\s\s+")
    
    text = re.sub(html_tag, r" ", text)
    text = re.sub(http_link, r" ", text)
    text = re.sub(www_link, r" ", text)
    text = re.sub(punct, r" ", text)
    text = re.sub(number, r" ", text)
    text = re.sub(space, r" ", text)
    return text

In [3]:
df = pd.read_excel('../dataset/ije_sa/raw_ije_sa.xlsx')

In [4]:
df

                                                  tweet     label
0     foto jaman disik kamerane elek ddine meninggal...  Negative
1     happy wedding brother, sory kamerane elek (wit...  Negative
2        Maaf gak saingan sek, ig storymu kamerane elek  Negative
3         Gasempet foto, soale kamerane elek koyo kowe   Negative
4     Endak mas ikuw saking kamerane elek. Lek hujan...  Negative
...                                                 ...       ...
1924  Padahal.. apa yg tertulis sdh sesuai asas good...  Positive
1925  Pemimpin yg jujur mengembalikan uang yg bukan ...  Positive
1926  Pelanggan siji wes muni ae lambene, ora jowo s...  Negative
1927  Rumah sakit opooo iki. Wes dokter lanange gak ...  Negative
1928  Berani jadi gubernur, siap jadi gubernur... ka...  Positive

[1929 rows x 2 columns]

In [5]:
df['label'].value_counts()

Positive    649
Negative    644
Neutral     636
Name: label, dtype: int64

In [6]:
df['clean_tweet'] = df['tweet'].apply(clean_data)
df['clean_tweet'] = df['clean_tweet'].str.lower()

In [7]:
new_order = ['tweet', 'clean_tweet', 'label']
df = df.reindex(columns=new_order)

In [8]:
df.to_excel('../dataset/ije_sa/ije_sa_data.xlsx', index=False)

In [9]:
get_data = pd.read_excel('../dataset/ije_sa/ije_sa_data.xlsx')
get_data.head()

,tweet,clean_tweet,label
0,foto jaman disik kamerane elek ddine meninggal...,foto jaman disik kamerane elek ddine meninggal...,Negative
1,"happy wedding brother, sory kamerane elek (wit...",happy wedding brother sory kamerane elek with ...,Negative
2,"Maaf gak saingan sek, ig storymu kamerane elek",maaf gak saingan sek ig storymu kamerane elek,Negative
3,"Gasempet foto, soale kamerane elek koyo kowe",gasempet foto soale kamerane elek koyo kowe,Negative
4,Endak mas ikuw saking kamerane elek. Lek hujan...,endak mas ikuw saking kamerane elek lek hujan ...,Negative